<div class="container my-2">
  <div class="row">
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/c03d8db0ea41f693.png?q=60" alt="">
      <div>Grocery</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/994d28486acb582e.jpg?q=60" alt="">
      <div>Mobiles</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/59bd97ec3586e007.png?q=60" alt="">
      <div>Beauty</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/f9b3eb64f674d8c1.png?q=60" alt="">
      <div>Food & Health</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/6ab92a9fcdd8bd9a.jpg?q=60" alt="">
      <div>Fashion</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/72c2253903ee3f96.jpg?q=60" alt="">
      <div>Electronics</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/a0289bc4c618004b.jpg?q=60" alt="">
      <div>Travel</div>
    </div>
    <div class="col category">
      <img src="https://rukminim2.flixcart.com/fk-p-flap/196/196/image/1adcd2b008325e5e.jpg?q=60" alt="">
      <div>Furniture</div>
    </div>
  </div>
</div>
