<h3 class="text-center">User List</h3>

<div class="container">
  <div class="row">
    @for (user of userArr(); track $index) {
    <div class="col-sm-3">
      <div class="card">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTbjh3VyKm2s062XIHoBcOLBE3YJABlFd4vbw&s"
          class="card-img-top" alt="..." height="200">
        <div class="card-body text-center">
          <h5 class="card-title">{{user.name}}</h5>
          <p class="card-text">{{user.id}}</p>
          <p class="card-text text-truncate">{{user.username}}</p>
          <p class="card-text text-truncate">{{user.address.city}}</p>
          <p class="card-text">{{user.phone}}</p>
          <p class="card-text">{{user.email}}</p>
          <button class="btn btn-primary" [routerLink]="['/userdetails',user.id]">Details</button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
